.animation{
    transition: 0.3s all ease-in-out;
}
:root{
    --text-nav-primary: #2CD5D5;
    --text-secondary: #7BEDED;
    --text-paleta2-a: #1E3549;
    --text-paleta2-b: #2CB2BE;
}
body{
    background: #1E1E31;
}

.container-fluid{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
}
header{
    padding: 0 20px;
    max-height: 80px;
    margin-bottom: 100px;
    font-family: 'Roboto Mono', monospace;
    & .logo img{
        width: 60px;
        height: 40px;
    }
    & ul{
        margin: auto;
        padding: 0;
        & li{
            list-style: none;
            display: inline-block;
            & a{
                text-decoration: none;
                margin: 0 20px 0 0;
                padding: 2px 5px;
                position: relative;
                color: white;
                font-weight: 600;
                font-size: x-large;
                @extend .animation;
                &::before{
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 0%;
                    left: 0;
                    background-color: var(--text-nav-primary);
                    @extend .animation; 
                }
                &::after{
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 0%;
                    right: 0;
                    bottom: -6px;
                    background-color: var(--text-nav-primary);
                    transform: rotateZ(-180deg);
                    @extend .animation; 
                }
                &:hover{
                    color: var(--text-nav-primary);
                    &:before{
                        width: 100%;
                    }
                    &:after{
                        width: 100%;
                    }
                    
                }
            }
        }
    }
}
section{
    font-family: 'Roboto Mono', monospace;
    & .profile{
        background-color: rgb(24, 23, 23);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: auto;
        margin-top: 30px;
        animation: palpitar 5s infinite;
        & img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    & .arrow{
        width: 80px;
        height: 80px;
        margin: auto;
        margin-top: 60px;
        & span{
            font-size: 50px;
            max-width: 100%;
            max-height: 100%;
        }
        animation: palpitar 1s infinite;
    }

}
#proyectos{
    font-family: 'Roboto Mono', monospace;
    margin-top: 100x;
    & .proyecto{
        background-color: transparent;
        padding: 20px 20px;
        width: 100%;
        color: white;
        & .titulo{
            font-weight: 800;
        }
        & figure{
            position: relative;
            height: 300px;
            margin: 0;
            margin-top: 30px;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover>.proyecto-link{
                visibility: visible;
                background-color: rgba($color: #000000, $alpha: 0.7);
                top: 0;
            }
            & .proyecto-link{
                visibility: hidden;
                position: absolute;
                width: 100%;
                height: 300px;
                top: -20px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                @extend .animation;
                & .link{
                    & span{
                        border: 1px solid white;
                        padding: 10px 15px;
                        & a{
                            color: white;
                            text-decoration: none;
                        }
                        &:last-child{
                            margin-left: 30px;
                        }
                        &:hover{
                            @extend .animation;
                            background-color: rgba(#2CB2BE, $alpha: 0.3);
                        }
                    }
                }
            }
        }
        
    }
}

//#1E1E1E
#tecnologias{
    margin-top: 50px;
    & .row{
        & .col-lg-3{
            & .card{
                @extend .animation;
                & .card-body{
                    & img{
                        width: 40%;
                        height: 80px;
                        object-fit: cover;
                    }
                }
                &:hover{
                    transform: rotate(5deg);
                }
            }
        }
    }
}
#contacto{
    display: block;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    & .row{
        & .col-lg-6{
            & section{
                & .contact-item{
                    & img{
                        width: 50px;
                        margin-right: 10px;
                    }
                    & a{
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
    }

}
//Complements
@keyframes palpitar{
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.text-palete-2{
    color: var(--text-paleta2-b);
}
.rombo{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    @extend .animation;
}